.user-career-photo {
    display: inline-block;
    float: left;
    margin-right: 100px;
margin-top: 50px;
   width: 220px;
   height: 220px;
   overflow: hidden;
   border-radius: 9px;

}

.careerh1 {


}

.career__block,
.career__block1{
  display: inline-block; 
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;

} 

.user-career-text {
  width: 300px;
  display: inline-block;
}

.career__year {
  position: relative;
  right: 65px;
  top: -40px;
  
}

.career__item:hover .career__year
 {
    color: #33c1e3;
    font-weight: bold;
} 

.career__item:hover .career__block  {
    background: #33c1e3;
}


/*

.career__item {
  display: inline-block;


}

.career__block1 {
  margin-left: 635px;
}