body {
	font-size: 18px;
	font-family: 'Fira Sans', sans-serif;
}

header {
	background-color: #ffffff;
}

/*img {
border-radius: 50%;
}*/

.user-photo {
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	float:  left;
margin: 0px 20px 0px 130px;

}

img {
	width: auto;
}
.user-text {
color: #414141;
padding-top: 27px;
}

.user-contacts {
	color: #33c1e3;
	display: inline-block;
	padding-left: 950px;
	margin-top: -35px;	
}

a {
	text-decoration: none;
}

.contact-link {
	border-bottom: 1px dotted #33c1e3;
	
}

